@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
body {
    z-index: 0;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    position: relative;
}

#content{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.form-container {
    width: 350px;
    background: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.form-container h1 {
    margin-bottom: 0.5rem;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"] {
    width: 92%;
    padding: 0.75rem;
    margin: 0.5rem 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-container p{
    margin-top: 10px;
}

.form-container button {
    width: 100%;
    padding: 0.75rem;
    background-color: #555;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
}

.form-container .social-buttons {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

.form-container .social-buttons a {
    display: block;
    padding: 0.75rem;
    margin: 0.25rem 0;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    text-align: center;
    font-size: 1rem;
}

.form-container .facebook {
    background-color: #3b5998;
}

.form-container .facebook img {
    margin-right: 4%;
    background-color: whitesmoke;
    border-radius: 10px;
}

.form-container .google {
    background-color: rgb(239, 129, 129);
}

.form-container .google img {
    margin-right: 4%;
}

.form-container .login {
    margin-top: 1rem;
}

.form-container .login a {
    color: #007bff;
    text-decoration: none;
}

.form-container .login a:hover {
    text-decoration: underline;
}

/* ---------------------- */
.notifications{
    position: fixed;
    top: 30px;
    right: 20px;
    z-index: 2000;
}
.toast{
    position: relative;
    padding: 10px;
    color: #fff;
    margin-bottom: 10px;
    width: 400px;
    display: grid;
    grid-template-columns: 70px 1fr 70px;
    border-radius: 5px;
    --color: #0aadbf;
    background-image: 
        linear-gradient(
            to right, #0abfa755, #071043 30%
        ); 
    animation: show 0.3s ease 1 forwards  
}
.toast i{
    color: var(--color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}
.toast .title{
    font-size: x-large;
    font-weight: bold;
}
.toast span, .toast i:nth-child(3){
    color: #fff;
    opacity: 0.6;
}
@keyframes show{
    0%{
        transform: translateX(100%);
    }
    40%{
        transform: translateX(-5%);
    }
    80%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-10%);
    }
}
.toast::before{
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--color);
    width: 100%;
    height: 3px;
    content: '';
    box-shadow: 0 0 10px var(--color);
    animation: timeOut 5s linear 1 forwards
}
@keyframes timeOut{
    to{
        width: 0;
    }
}
.toast.error{
    --color: #f24d4c;
    background-image: 
        linear-gradient(
            to right, #f24d4c55, #22242F 30%
        );
}